.a{height:100px;
 background: cornflowerblue;
    align-items: center;
    justify-content: center;

}
.b{width: 100px;
    height: 100px;
    background: gray;
    flex-grow:1;
}
.c{width: 100px;
    height: 100px;
    background: gray;
    flex-grow: 1;}

.d{width: 100px;
    height: 100px;
    background: gray;
    flex-grow: 1;}

.e{width: 100px;
    height: 100px;
    background: gray;
    flex-grow: 1;}

.f{width: 100px;
    height: 100px;
    background: gray;
    flex-grow: 1;}

.g{width: 100px;
    height: 100px;
    background: gray;
    flex-grow: 1;}

.h{ height: inherit;
    background: green;
    flex-grow: 1;
align-items: center;}

    .box>div{display: flex;
justify-content: center;
    }
    .box1>div{display: flex;
        justify-content: center;
        align-items: center;}

#wrap>div{display: flex;
    }

    .box2>div{display: flex;
    justify-content: center;
    align-items: center;
    }

    .boxa>div{ display: flex;
        justify-content: center;
        align-items: center;}
    .boxa{column-gap: 3px;}

    .border{display:flex;
        border: 3px solid black;

        width: 470px;
        height: 330px;
        justify-content: center;
        align-items: center;
        border-radius: 15px;

    }

