.post1 {height:150px;
    box-sizing: border-box;
    border: 2px solid black;
    text-align: center;
    justify-content: space-around;
    margin-left: 3px;
}

.post {height:147px;
    box-sizing: border-box;
    border: 2px solid black;
    text-align: center;
    justify-content: space-around;
    margin-left: 3px;
    margin-bottom: 3px;
}
.menu{border: 2px solid black;
    box-sizing: border-box;
    text-align: center;
    padding-top: 145px;
}
#header{box-sizing: border-box;
    border: 2px solid black;
    padding-top: 30px;
    text-align: center;
    margin-bottom: 3px;
}
#footer{box-sizing: border-box;
    border: 2px solid black;
    padding-top: 30px;
    justify-content: space-around;
    margin-top: 3px;
  }